body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main {
  height: 100%;
  background-color: #f3f2ef;
}

/* Used for testing only */
.show-border {
  border-color: red;
  border-style: solid;
  border-width: 2px;
}

.main-container {
  margin: auto;
  width: 70%;
  border-radius: 50px;
}

.section-row {
  padding-top: 20px;
  min-width: 450px;
}

#name {
  padding-top: 0px;
  font-size: 30px;
  font-weight: 600;
}

#position {
  margin-top: -10px;
  font-size: 20px;
}

#location {
  color: gray;
  font-size: 15px;
}

.btn-light {
  border-color: gray !important;
}
.no-underline {
  text-decoration: none;
}

.logo {
  width: 35px !important;
}
